<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRMS.CarouselMonitorControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CarouselMonitorControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WindowsApplication1.Properties.Settings>
            <setting name="UseWindowsPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSerialPortPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PowerOnString" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerOffString" serializeAs="String">
                <value />
            </setting>
        </WindowsApplication1.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TRMS.CarouselMonitorControl.Properties.Settings>
            <setting name="UseWindowsPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSerialPortPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PowerOnString" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerOffString" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerOn1" serializeAs="String">
                <value>9:00 AM</value>
            </setting>
            <setting name="PowerOff1" serializeAs="String">
                <value>5:00 PM</value>
            </setting>
            <setting name="Weekday1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerOn2" serializeAs="String">
                <value>9:00 AM</value>
            </setting>
            <setting name="PowerOff2" serializeAs="String">
                <value>5:00 PM</value>
            </setting>
            <setting name="Weekday2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetworkControl" serializeAs="String">
                <value>True</value>
            </setting>
        </TRMS.CarouselMonitorControl.Properties.Settings>
        <CarouselMonitorControl.Properties.Settings>
            <setting name="UseWindowsPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSerialPortPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PowerOnString" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerOffString" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerOn1" serializeAs="String">
                <value>9:00 AM</value>
            </setting>
            <setting name="PowerOff1" serializeAs="String">
                <value>5:00 PM</value>
            </setting>
            <setting name="Weekday1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerOn2" serializeAs="String">
                <value>9:00 AM</value>
            </setting>
            <setting name="PowerOff2" serializeAs="String">
                <value>5:00 PM</value>
            </setting>
            <setting name="Weekday2" serializeAs="String">
                <value>0</value>
            </setting>
        </CarouselMonitorControl.Properties.Settings>
    </userSettings>
</configuration>