<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Tightrope Media Systems" />
  	<link rel="stylesheet" href="http://trms.github.com/fixmpeg/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="http://trms.github.com/fixmpeg/css/print.css" type="text/css" media="print" />
    <!--[if IE]>
      <link rel="stylesheet" href="http://trms.github.com/fixmpeg/css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

  	<link rel="stylesheet" href="http://trms.github.com/fixmpeg/css/syntax.css" type="text/css" media="screen" charset="utf-8"/>
  	<link rel="stylesheet" href="http://trms.github.com/fixmpeg/css/style.css" type="text/css" media="screen" charset="utf-8"/>
  </head>
  <body>
 
    <div class="container">
      {{ content }}
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-69506-10");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>